<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>Dato</h3>
        </div>
        <div class="col">
            <input type="text"
                placeholder="Nombre"
                (keyup)="guardar( $event, txtNombre.value )"
                #txtNombre>

            <input type="text"
                placeholder="Apellido"
                [(ngModel)]="apellido"
                (keyup.enter)="almacenar()">

            <input type="text"
                placeholder="Edad"
                (keyup.enter)="calcularEdad()"
                id="txtEdad"
                
                >

            <input type="text"
                placeholder="Ciudad"
                (keyup.enter)="darCiudad()"
                #txtCiudad
            >
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            Usuario: {{nombre}} {{apellido}} - {{edad}}
        </div>
    </div>
</div>